*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.jar
*.class
*.dex
*.log
/app/build/intermediates/blame/res/debug/multi/*.json
/app/build/intermediates/blame/res/debug/single/*.json
